/*шрифты*/
$primary-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Open Sans Condensed', sans-serif;

/*палитра цветов*/
$accent-color: #d1a954;
$primary-background-color: #333333;
$primary-white: #ffffff;
$footer-info-text: #989898;
